.list_group_item{
        display: flex;
            margin: 0;
            padding: 10px;
            justify-content: space-evenly;
            align-items: center;
            background: rgba(177, 163, 163, 0.1);
}
.title{
    margin-right: 290px;
}
.check_input {
    width: 28px;
    height: 28px;
    position: relative;
    /* margin: 20px auto; */

    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.check_input label {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 4px;
        left: 4px;
        cursor: pointer;
        background: #696969;
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
}

.check_input label:after {
            content: '';
            width: 9px;
            height: 5px;
            position: absolute;
            top: 5px;
            left: 4px;
            border: 3px solid #fcfff4;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
        }

.check_input label:hover::after {
            opacity: 0.3;
        }


.check_input input[type=checkbox] {
        visibility: hidden;
    }

.check_input input[type=checkbox]:checked + label:after {
            opacity: 1;
        }
.btn_close {
    width: 30px;
    background: transparent;
border: none;
}